pyraytracer/build/
pyraytracer/build/*
pyraytracer/pyraytracer/__pycache__/
pyraytracer/pyraytracer/__pycache__/*
pyraytracer/pyraytracer/.ipynb_checkpoints/*
pyraytracer/pyraytracer/.ipynb_checkpoints/*
pyraytracer/pyraytracer.egg-info/
pyraytracer/pyraytracer.egg-info/*
